@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Kaushan+Script&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


:root {
  /* 텍스트 박스 배경 */
  --primary-color: #F2AA4C !important;
  /* 글씨 색(진하게) */
  --on-primary: #101820;
  --on-background: #101820;
  /* 타이틀 폰트 색 */
  --on-background-alt: #0c1117;
  
  /* 제일 밝은 바깥 배경 */
  --background: #f1d2a7;
  --box-shadow: 0 5px 20px 1px rgba(7, 6, 6, 0.5);
}

[data-theme="dark"] {
  /* 텍스트 박스 배경 */
  --primary-color: #101820;
  /* 글씨 색깔 밝은걸로 */
  --on-primary: #F2AA4C;
  --on-background: #F2AA4C;
    /* 타이틀 폰트 색 */
  --on-background-alt: #f1d2a7;
  /* 전체 배경 색 */
  --background: #000000;
}


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--primary-color);
  background-color: var(--background);
  /* background-image: background-color: #DFDBE5; */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%239C92AC' fill-opacity='0.08' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: "Stylish", "cursive", serif;
  font-size: 100px;
  margin-bottom: 0;
  color: var(--on-background-alt);
}

h2 {
  color: var(--on-background-alt);
  font-size: 32px;
  font-weight: normal;
  font-family: "Gamja Flower", "cursive", serif;
}
h3 {
  color: var(--on-background-alt);
  font-size: 22px;
  font-weight: normal;
  font-family: "Gamja Flower", "cursive", serif;
  margin: 20px;
}

/* Navigation */
nav {
  display: flex;
  align-items: center;
  z-index: 10;
  position: fixed;
  font-family: "Gamja Flower", "cursive", serif;
  font-size: 28px;
  letter-spacing: 3px;
  padding: 15px;
  justify-content: space-between;
  width: 96vw;
  background: rgb(255 255 255 / 50%);
}

a {
  margin-right: 25px;
  color: var(--on-background-alt);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-weight: bold;
}

a:hover,
a:focus {
  color: var(--on-background);
  border-bottom: 3px solid;
}

/* Home Section */
.title-group {
  text-align: center;
}

/* About Section */
.about-container {
  display: flex;
  justify-content: center;
}

.image-container {
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 10px 20px;
  margin-right: 25px;
  width: 100%;
  background: var(--background);
  box-shadow: var(--box-shadow);
}

img {
  height: 300px;
  width: 300px;
}

/* Projects Section */
.buttons {
  margin-top: 15px;
  margin-bottom: 50px;
}

button {
  /* min-width: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  width: 4vw;
  height: 4vw;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--on-background-alt);
  font-size: 20px;
  outline: none;
}

button:hover:not(.outline) {
  filter: brightness(90%);
}

.primary {
  background: var(--primary-color);
  color: var(--on-primary);
}

.secondary {
  border: 2px solid var(--secondary-color);
}

.secondary,
.secondary:hover,
.outline.secondary:hover {
  background: var(--secondary-color);
  color: var(--on-primary);
}

.outline {
  background: var(--background);
  color: var(--on-background);
}

.outline:hover {
  background: var(--primary-color);
  color: var(--on-primary);
}

.text-box {
  width: 60%;
  /* text-align: justify; */
  background: var(--primary-color);
  color: var(--on-primary);
  border-radius: 10px;
  padding: 30px;
  font-family: "Noto Sans KR", "cursive", serif;
  /* font-family: "Stylish", "cursive", serif; */

  font-size: 22px;
  letter-spacing: 2px;
  line-height: 40px;
}


p {
  margin: 0;
  line-height: px;
  font-size: .8rem;
}

/* Contact Section */
.fab {
  font-size: 100px;
  margin-right: 50px;
  cursor: pointer;
  color: var(--primary-color);
}

.fab:hover {
  color: var(--on-background);
}

/* Dark Mode Toggle */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  /* z-index: 100; */
  /* position: fixed; */
  /* right: 35px; */
  /* top: 30px; */
}

.theme-switch-wrapper span {
  /* margin-right: 10px; */
  font-size: 1rem;
  filter: brightness(105%);
}

.toggle-text {
  color: var(--primary-color);
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider::before {
  background: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background: var(--primary-color);
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.fas {
  font-size: 30px;
  margin-right: 5px;
}
/* #lastWord {
  font-size: .9vw !important;
} */
@media (min-width: 120px) and (max-width: 680px) {
  .text-box {
    width: 82%;
    /* text-align: justify; */
    background: var(--primary-color);
    color: var(--on-primary) !important;
    border-radius: 10px;
    padding: 5%;
    font-size: 15px;
    font-family: "Noto Sans KR", "cursive", serif;
    letter-spacing: 0.3px;
  }
  nav {
    display: flex;
    align-items: center;
    z-index: 10;
    position: fixed;
    font-family: "Gamja Flower", "cursive", serif;
    font-size: 3.5vw;
    letter-spacing: 0px;
    /* margin-top: 12px; */
    padding: 5vw;
    justify-content: space-between;
    width: 90vw;
    background: rgb(255 255 255 / 50%);
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    width: 8vw;
    height: 8vw;
    cursor: pointer;
    border-radius: 5px;
    border: .5px solid var(--on-background-alt);
    font-size: 15px;
    outline: none;
  }
  h1 {
    font-family: "Stylish", "cursive", serif;
    font-size: 2.5rem;
    margin-bottom: 0;
  }
  h2 {
    font-family: "Stylish", "cursive", serif;
    font-size: 1.7rem;
    margin: 0.8rem;

  }
  h3 {
    font-family: "Stylish", "cursive", serif;
    font-size: 1.3rem;
    font-weight: normal;
    margin: 20px;
  }
  a {
    margin-right: 5px;
    color: var(--on-background-alt);
    text-decoration: none;
    border-bottom: 3px solid transparent;
    font-weight: bold;
  }
    /* Dark Mode Toggle */
  .theme-switch-wrapper {
    display: flex;
    align-items: center;
    /* z-index: 100; */
    /* position: fixed; */
    /* right: 15px; */
    /* top: 30px; */
  }

  .theme-switch-wrapper span {
    /* margin-right: 5px; */
    font-size: 0.9rem;
    filter: brightness(105%);
    color: var(--on-background-alt);

  }

  .toggle-text {
    /* top: -14px; */
    color: var(--primary-color);
  }
  p {
    margin: 0;
    line-height: 25px;
    word-break: keep-all;
  }
}

/* 화살표 */
.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 40px;
  height: 40px;
  top: 90%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px var(--on-background-alt) solid;
  border-bottom: 2px var(--on-background-alt) solid;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 80%;
  margin: -22px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 2px var(--on-background-alt) solid;
  border-bottom: 2px var(--on-background-alt) solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}
  
  
  
  